@use "@/styles/colours" as *;

.PageWrapper {
  display: flex;
  gap: 96px;
  padding: 48px;
  background-color: $lightBack;
  min-height: calc(100dvh - 432px);
  color: $fontOnLight;

  @media(max-width: 800px) {
    flex-direction: column-reverse;
  }

  .RelatedContent {
    width: 420px;

    @media(max-width: 800px) {
      width: 100%;
    }

    hr {
      color: $fontOnDark;
      border-top: 1px solid rgba($fontOnDark, 0.3);

      &:last-child {
        display: none;
      }
    }
  }

  .PageContent {
    flex: 1;

    .Quote {
      font-family: var(--font-neueMontreal), serif;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: 0;
      padding: 0 48px;
    }

    .Place {
      display: flex;
      gap: 24px;
      font-family: var(--font-neueMontreal), serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;

      div {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }
}