@use "@/styles/colours" as *;

.PageWrapper {
  display: flex;
  gap: 96px;
  padding: 48px;
  background-color: $lightBack;
  min-height: calc(100vh - 432px);
  color: $fontOnLight;

  .RelatedContent {
    width: 420px;
  }

  .PageContent {
    flex: 1;

    .Quote {
      font-family: var(--font-neueMontreal), serif;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: 0;
      padding: 0 48px;
    }
  }
}