.Card {
  display: flex;
  width: 100%;
  gap: 80px;

  @media(max-width: 800px) {
    gap: 16px;
  }

  .Left {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;

    @media(max-width: 800px) {
      width: 100%;
    }
  }

  .Right {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;

    @media(max-width: 800px) {
      width: 100%;
    }
  }
}