@use "@/styles/colours" as *;
@use "@/styles/variables" as *;

.TopMenu {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 $spacing-xl;
    z-index: 100;

    .Link {
        color: inherit;
        font-family: var(--font-editorialNew), serif;
        font-size: 16px;
        position: relative;
        text-decoration: none;
        // display: inline-block;
    }

    .Link::after
     {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -5px;
        left: 0;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.2s ease-out;
    }

    .Link:hover::after {
        transform: scaleX(1);
    }
    
    &.Dark {
        color: $fontOnDark;
        background-color: $darkBack;

        .Link:after, .Link:before {
            background: $fontOnDark;
        }
    }

    &.Light {
        color: $fontOnLight;
        background-color: $lightBack;

        .Link:after, .Link:before  {
            background: $fontOnLight;
        }
    }

    .Left {
        display: flex;
        align-items: center;
        flex: 1;
    }

    .Center {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: $spacing-xl;
    }

    .Right {
        display: flex;
        align-items: center;
        justify-content: right;
        flex: 1;
        gap: $spacing-xl;
    }
}