@use "@/styles/colours" as *;

.Group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  cursor: pointer;
  height: 128px;
  justify-content: center;
  border-top: 1px solid rgba($fontOnDark, 0.3);

  &:last-child {
    border-bottom: 1px solid rgba($fontOnDark, 0.3);
  }

  .innerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;

    .placeholderMarker {
      display: inline-block;
      width: 1px;
      height: 1px;
      visibility: hidden;
    }
  }

  .textLeft {
    text-align: right;
  }

  .textRight {
  }

  .image {
    position: absolute;
    width: 140px;
    height: 80px;
    object-fit: contain;
  }
}