@use "@/styles/colours" as *;

.Section {
  min-height: 800px;
  background-color: $lightBack;
  color: $fontOnLight;
  padding: 0 48px;

  @media (max-width: 800px) {
    padding: 0 16px;
  }

  .Header {
    position: sticky;
    top: 80px;
    background-color: $lightBack;
    display: flex;
    align-items: center;
    min-height: 60px;
    gap: 8px 16px;
    z-index: 10;
    flex-wrap: wrap;
    padding-bottom: 16px;
    transition: transform 0.3s ease; // 👈 smooth slide

    &.Hide {
      transform: translateY(-100%);
    }

    &.Show {
      transform: translateY(0);
    }

    @media (max-width: 800px) {
      display: flex;
      align-items: center;
      flex-wrap: nowrap; /* prevent wrapping */
      overflow-x: auto;  /* horizontal scroll */
      -webkit-overflow-scrolling: touch; /* smooth scrolling on iOS */
      gap: 1rem; /* spacing between buttons */
      -ms-overflow-style: none;
      scrollbar-width: none;
      height: 80px;
      padding-bottom: unset;
      border-top: 1px solid rgba($fontOnLight, 0.1);
      border-bottom: 1px solid rgba($fontOnLight, 0.1);


      &::-webkit-scrollbar {
        display: none;
      }
    }

    .GroupButton {
      color: rgba($fontOnLight, 0.8);
      border-bottom: 1px solid transparent;
      white-space: nowrap;
      transition: all 0.3s ease;
      cursor: pointer;

      @media (max-width: 800px) {
        white-space: nowrap; /* prevent text wrapping */
        cursor: pointer;
      }

      &.Active {
        border-bottom: 1px solid $fontOnLight;
      }
    }
  }

  .Main {
    padding: 48px 0;

    .GroupSection {
      margin-bottom: 5rem;
      scroll-margin-top: 6rem; /* Leaves room for sticky header */
    }

    .GroupHeader {
      display: flex;
      align-items: flex-start;
      margin-bottom: 48px;

      @media (max-width: 800px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
      }

      .GroupTitle {
        flex: 1;
        padding-left: 2px;
      }

      .GroupDescription {
        flex: 1;
        padding-top: 8px;
      }
    }

    .PeopleGrid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-column-gap: 16px;
      grid-row-gap: 16px;
      grid-auto-rows: 1fr;

      @media (max-width: 800px) {
        grid-template-columns: repeat(2, 1fr);
      }

      &::before {
        content: '';
        width: 0;
        padding-bottom: 100%;
        grid-row: 1 / 1;
        grid-column: 1 / 1;

        @media (max-width: 800px) {
          content: none;
        }
      }

      & > *:first-child {
        grid-row: 1 / 1;
        grid-column: 1 / 1;
      }
    }
  }
}
