@use "@/styles/colours" as *;

.Buttons {
  display: flex;
  align-items: center;
  gap: 48px;

  @media (max-width: 800px) {
    flex-direction: column;
    gap: 16px;
  }

  .Link {
    text-decoration: none;
    color: inherit;
    width: 100%;
  }
}

.PersonGroup {
  color: rgba($fontOnDark, 0.7);
  font-size: 14px;
}