@use "@/styles/colours" as *;

.Buttons {
  display: flex;
  align-items: center;
  gap: 48px;

  .Link {
    text-decoration: none;
    color: inherit;
  }
}

.PersonGroup {
  color: rgba($fontOnDark, 0.7);
  font-size: 14px;
}