@use "@/styles/colours" as *;

.Section {
  min-height: calc(100vh - 80px);
  background-color: $lightBack;
  padding: 0 48px;
  color: $fontOnLight;

  @media(max-width: 800px) {
    padding: 0 16px;
  }

  .Header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 800px) {
      padding-bottom: 24px;
    }
  }

  .Content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 64px;

    @media(max-width: 800px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .CardWrapper {
      flex: 1;
    }
  }
}