@use "@/styles/colours" as *;

.PersonCard {
  position: relative;
  cursor: pointer;

  a {
    text-decoration: none;
    color: inherit;
  }

  .PhotoWrapper {
    height: 100%;
  }

  .Overlay {
    position: absolute;
    inset: 0;
    background: $coffeeBack;
    padding: 16px;

    .DataWrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
    }
  }
}