* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  width: 100%;
  scrollbar-width: none;
  overflow-x: clip;
  overscroll-behavior: none;
}

body {
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: clip;
}

main {
  height: 100%;
  overflow-x: clip;
}

.leaflet-control-attribution {
  a {
    display: none;
  }

  span {
    display: none;
  }

  div {
    a {
        text-decoration: none;
        color: inherit;
        font-size: inherit;
        display: inline-block;
        border-bottom: 1px dashed;

        &:hover {
          text-decoration: none;
        }
    }
  }
}