@use "@/styles/variables" as *;

h1 {
  font-family: var(--font-editorialNew), serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 120%;
  letter-spacing: 0;

  i {
    font-family: var(--font-editorialNewItalic), serif;
  }

  @media (max-width: $small) {
    line-height: 100%;
  }
}

h2 {
  font-family: var(--font-editorialNew), serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: 0;

  i {
    font-family: var(--font-editorialNewItalic), serif;
  }

  @media (max-width: $small) {
    font-size: 48px;
  }
}

h3 {
  font-family: var(--font-editorialNew), serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0;

  i {
    font-family: var(--font-editorialNewItalic), serif;
  }

  @media (max-width: $small) {
    font-size: 32px;
  }
}

h4 {
  font-family: var(--font-editorialNew), serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0;

  i {
    font-family: var(--font-editorialNewItalic), serif;
  }

  @media (max-width: $small) {
    font-size: 24px;
  }
}

h5 {
  font-family: var(--font-editorialNew), serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;

  i {
    font-family: var(--font-editorialNewItalic), serif;
  }
}

.nav-link {
  font-family: var(--font-editorialNew), serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

p {
  font-family: var(--font-neueMontreal), serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  em {
    font-family: var(--font-neueMontrealItalic), serif;
  }
}

ul {
  font-family: var(--font-neueMontreal), serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  padding-left: 16px;

  li {
    padding-bottom: 16px;
  }
}

a {
  font-family: var(--font-neueMontreal), serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 100%;
}

blockquote {
  font-family: var(--font-neueMontreal), serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}