@use "@/styles/colours" as *;
@use "@/styles/variables" as *;

.Footer {
  display: flex;
  align-items: center;
  background-color: $darkBack;
  color: $fontOnDark;
  min-height: 352px;
  padding: 0 $spacing-xl;

  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
  }

  .Left {
    flex: 4;
  }

  .Right {
    display: flex;
    flex: 2;

    @media (max-width: 1200px) {
      width: 100%;
      margin-top: 16px;
    }

    div {
      padding: 8px 0;
    }

    .Menu {
      flex: 1;
    }
  }

  .Horizon2020 {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media (max-width: 800px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 36px;
      border-top: 1px solid rgba($fontOnDark, 0.1);
      border-bottom: 1px solid rgba($fontOnDark, 0.1);
      padding: 24px 0;
      width: 100%;
    }

    p {
      width: 610px;
      padding: 0 96px 0 24px;
      font-size: 14px;
      color: rgba($fontOnDark, 0.6);

      @media (max-width: 800px) {
        width: 100%;
        padding: 0;
      }
    }
  }
}