@use "@/styles/colours" as *;

.Wrapper {
  background-color: $darkBack;
}

.Section {
  background-color: $darkBack;

  div {
    @media (max-width: 500px) {
      min-width: 600vw
    }

    @media (min-width: 501px) and (max-width: 800px) {
      min-width: 300vw
    }

    @media (min-width: 801px) {
      min-width: 120vw;
    }
  }
}

.Title {
  font-family: var(--font-editorialNew), serif;
  font-weight: 400;
  font-size: 540px;
  line-height: 100%;
  color: $fontOnDark;
  user-select: none;
}