@use "@/styles/colours" as *;

.TagButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-neueMontreal), serif;
    font-size: 14px;
    height: 30px;
    padding: 0 16px;
    background-color: $coffeeBack;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $fontOnDark;
    }
}