@use "@/styles/colours" as *;

.Section {
  min-height: 800px;
  background-color: $lightBack;
  color: $fontOnLight;
  scroll-snap-type: y mandatory;

  .NetworksHeader {
    display: flex;
    align-items: flex-start;
    padding: 0 48px;

    .Left {
      flex: 1;
    }

    .Right {
      flex: 1;
    }
  }

  .MapContainer {
    scroll-snap-align: start;
  }
}