@use "@/styles/colours" as *;

.Section {
  min-height: 800px;
  background-color: $lightBack;
  color: $fontOnLight;
  padding: 0 48px;

  .Header {
    position: sticky;
    top: 80px;
    background-color: $lightBack;
    display: flex;
    align-items: center;
    min-height: 60px;
    gap: 16px;
    z-index: 10;

    .GroupButton {
      color: rgba($fontOnLight, 0.8);
      border-bottom: 1px solid transparent;
      white-space: nowrap;
      transition: all 0.3s ease;
      cursor: pointer;

      &.Active {
        border-bottom: 1px solid $fontOnLight;
      }
    }
  }

  .Main {
    padding: 48px 0;

    .GroupSection {
      margin-bottom: 5rem;
      scroll-margin-top: 6rem; /* Leaves room for sticky header */
    }

    .GroupHeader {
      display: flex;
      align-items: flex-start;
      margin-bottom: 48px;

      .GroupTitle {
        flex: 1;
      }

      .GroupDescription {
        flex: 1;
      }
    }

    .PeopleGrid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-column-gap: 16px;
      grid-row-gap: 16px;
      grid-auto-rows: 1fr;

      &::before {
        content: '';
        width: 0;
        padding-bottom: 100%;
        grid-row: 1 / 1;
        grid-column: 1 / 1;
      }

      & > *:first-child {
        grid-row: 1 / 1;
        grid-column: 1 / 1;
      }
    }
  }
}
