.Card {
  .Content {
    font-family: var(--font-neueMontreal), serif;
    font-size: 14px;
    line-height: 100%;
    padding-top: 36px;

    a {
      text-decoration: none;
      color: inherit;
    }

    .Place {
      display: flex;
      align-items: center;
      gap: 48px;
      padding: 24px 0;

      div {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }

    .Tags {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 8px;
    }

    .Description {
      padding: 24px 0;
    }
  }
}