@use "@/styles/colours" as *;

.Section {
  // overflow-y: auto;
  background-color: $lightBack;
  color: $fontOnLight;
  scroll-snap-type: y mandatory;
  scrollbar-width: none; /* Firefox */

  @media (max-width: 800px) {
    scroll-snap-type: unset;
  }

  .NetworksHeader {
    display: flex;
    align-items: flex-start;
    padding: 0 48px;
    scroll-snap-align: center;

    @media (max-width: 800px) {
      flex-direction: column;
      padding: 0 16px;
      scroll-snap-align: none;
      gap: 16px;
    }

    .Left {
      flex: 1;

      @media (max-width: 800px) {
        display: none;
      }
    }

    .Right {
      flex: 1;
    }
  }

  .MapInfo {
    display: flex;
    justify-content: right;
    padding: 0 48px;
    text-align: right;

    p {
      width: 400px;
      font-size: 12px;

      a {
        text-decoration: none;
        color: inherit;
        font-size: inherit;
        border-bottom: 1px dashed $fontOnLight;
      }
    }

    @media (max-width: 800px) {
      padding: 0 16px;
    }

  }

  .MapContainer {
    scroll-snap-align: center;

    @media (max-width: 800px) {
      scroll-snap-align: none;
    }
  }
}