@use "@/styles/colours" as *;

.Section {
  min-height: 800px;
  background-color: $lightBack;
  padding: 0 48px;
  color: $fontOnLight;

  @media (max-width: 800px) {
    padding: 0 16px;

    h1 {
      font-size: 48px;
    }
  }

  .AboutText {
    display: flex;
    justify-content: center;
    font-family: var(--font-neueMontreal), serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;

    @media (max-width: 800px) {
        flex-direction: column;
        gap: 16px;
    }

    ul {
      font-size: 16px;

      li {
        padding-bottom: 0;
      }
    }

    .Left {
      flex: 3;
    }

    .Right {
      flex: 2;
    }

    a {
        font-family: inherit;
        font-size: inherit;
        text-decoration: none;
        color: inherit;
        font-weight: 600;
        border-bottom: 1px dashed $fontOnDark;
    }
  }
}