@use "@/styles/colours" as *;

.Section {
  min-height: 800px;
  background-color: $lightBack;
  padding: 0 48px;
  color: $fontOnLight;

  .SearchBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;

    .InputWrapper {
      position: relative;
      flex: 1;

      input {
        width: 100%;
        color: $fontOnLight;
        background-color: $lightBack;
        flex: 1;
        border: none;
        padding: 0.5rem;
        outline: none;
        font-family: var(--font-editorialNew), serif;
        font-weight: 400;
        font-size: 32px;
        line-height: 120%;
        letter-spacing: 0;
      }

      .ClearButton {
        position: absolute;
        right: 48px;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        color: $fontOnDark;
        font-size: 50px;
        cursor: pointer;
      }
    }

    .SearchButton {
      margin-left: 24px;
      font-size: 1.5rem;
      color: #ff6a5c;
      background: none;
      border: none;
      cursor: pointer;

      &:hover {
        color: $fontOnLight;
      }
    }
  }

  .ViewChanger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;

    .SelectedTags {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .ViewChangerButton {
      margin-left: 24px;
      font-size: 1.5rem;
      color: #ff6a5c;
      background: none;
      border: none;
      cursor: pointer;

      &:hover {
        color: $fontOnLight;
      }
    }
  }
}
