@use "@/styles/colours" as *;

.Section {
  min-height: calc(100dvh - 80px);
  background-color: $darkBack;
  color: $fontOnDark;
  padding: 0 48px;

  @media(max-width: 800px) {
    padding: 0 16px;
  }

  .Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}