@use "@/styles/colours" as *;

.AlphabetNav {
  position: sticky;
  background-color: $lightBack;
  height: 40px;
  top: 80px;
  padding: 0 34px;
  margin: 0px -40px 24px -40px;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  color: $fontOnLight;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;

  .Letter {
    font-family: var(--font-editorialNew), serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0;
    margin: 0 8px;
    cursor: pointer;

    &.Disabled {
      cursor: not-allowed;
      color: #CCC;
    }
  }
}

.Facets {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;

  .Columns {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .FacetGroup {
      scroll-margin-top: 130px;
      margin-top: 24px;

      h2 {
        font-size: 2rem;
        color: $fontOnDark;
        margin-bottom: 16px;
      }

      ul {
        list-style: none;

        li {
          cursor: pointer;
          font-family: var(--font-neueMontreal), serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
        }

        li::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          bottom: -5px;
          left: 0;
          transform: scaleX(0);
          transform-origin: right;
          transition: transform 0.2s ease-out;
        }

        li:hover::after {
          transform: scaleX(1);
        }
      }
    }
  }
}