@use "@/styles/colours" as *;

.Wrapper {
  display: block;
  color: inherit;
  text-decoration: none;
  padding-bottom: 24px;

  .Type {
    padding-bottom: 16px;
    font-family: var(--font-neueMontreal), serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
  }

  .Tags {
    display: flex;
    flex-flow: row wrap;
    text-decoration: none;
    color: inherit;
    gap: 8px;

    h4 {
      padding-bottom: 8px;
    }
  }

  .Description {
    color: rgba($fontOnLight, 0.8);
    line-height: 150%;
  }
}