@use "@/styles/colours" as *;

.Section {
  height: calc(100dvh - 80px);
  background-color: $darkBack;
  // overflow: hidden;

  .scrollingText {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100vw;      // force viewport width
    overflow: hidden;  // clip anything that overflows
  }

  .Marquee {
    display: flex;
    width: max-content; // 👈 just fits the children
    white-space: nowrap;
    will-change: transform;
    // z-index: 1;

    .MarqueeItem {
      flex-shrink: 0;
      white-space: nowrap;
      font-family: var(--font-editorialNew), serif;
      font-weight: 400;
      font-size: 200px;
      line-height: 1;
      color: $fontOnDark;
      user-select: none;

      &.Front {
        z-index: 20;
      }

      &.Back {
        z-index: 1;
      }
    }
  }

  .imageContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* centers perfectly */
    z-index: 10;

    .imageWrapper {
      width: 400px;
      height: 400px;
      border-radius: 50%;
      overflow: hidden;
    }
  }
}