@use "@/styles/colours" as *;

.ButtonWrapper {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 1000;

  .SwitchButtonStyle {
    background-color: $lightBack;
    font-family: var(--font-neueMontreal), serif;
    font-weight: 400;
    color: $fontOnLight;
    border: none;
    font-size: 14px;
    height: 40px;
    width: 120px;
    padding: 0 20px;
    cursor: pointer;
    transition: letter-spacing 0.3s ease;

    &:hover {
      letter-spacing: 1.3px;
    }

    &.Active {
      background-color: $fontOnDark;
    }
  }
}